extends ../layouts/main-layout.pug

block head
    link(rel='stylesheet', href='/css/main.css')
    link(rel='stylesheet', href='/css/products.css')

block content
  main
    include ../includes/flash-msgs.pug
    if prods.length > 0
      h1 My Products
      .grid
        each product in prods
          article.card.product-item
            header.card__header
              h1.product__title #{product.title}
              .card__image
                img(src=product.imageUrl, alt=product.title)
              .card__content
                h2.product__price $#{product.price}
                p.product__description #{product.description}
              .card__actions
                a.btn(href=`/products/${product._id}`) Details
                include ../includes/add-to-cart-btn.pug
    else
      h1 No products